$maincolor:#081028;
$secondarycolor: #ECBFD7;
$textcolor:white;

.section{
	background-color: $maincolor;
    height: 715px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#name{
	color:$textcolor;
	font-size:76px;
}

.headertext{
	font-size:30px;
	color:$secondarycolor;
	margin-bottom:0px;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#headersection{
	position: absolute;
	left:150px;
	top:120px;
}

#navbar{
	background-color:$maincolor;
	color:red;
	ul{
		padding:0;
		list-style: none;
	}

}
